# Node.js
node_modules/
package-lock.json

# Next.js
.next/

# Environment Variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE Specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*~
